<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>759468678652-vq14fplf0h9tc0o0jor8ftfrdard41dm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759468678652-vq14fplf0h9tc0o0jor8ftfrdard41dm</string>
	<key>API_KEY</key>
	<string>AIzaSyCAlJyOyCfgdbsJvrygv2pYz6jaH-teSiU</string>
	<key>GCM_SENDER_ID</key>
	<string>759468678652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nguyenkhuc.FirebaseSimpleApp</string>
	<key>PROJECT_ID</key>
	<string>mytestapp-94af4</string>
	<key>STORAGE_BUCKET</key>
	<string>mytestapp-94af4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:759468678652:ios:95b52f75808b2bf9</string>
	<key>DATABASE_URL</key>
	<string>https://mytestapp-94af4.firebaseio.com</string>
</dict>
</plist>